@import url('https://fonts.googleapis.com/css?family=Jockey+One');
@import url('https://fonts.googleapis.com/css?family=Dosis|Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Kreon:300');

* { 
	margin:0; padding:0; box-sizing:border-box;
} 

body	{
	font-family: 'Times', serif;
	color: #021329;
}
header {
	background-color: #FFED74;
	font-family: 'Times', serif;
	font-size: 30px;
	border: 1px black solid;
	padding: 20px;
}

nav	{ 
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

nav a {
	font-family: 'Times', serif;
	color: #021329;
	padding: 20px
	font-size: .2em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

article	{
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
aside	{
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after	{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}

#two_column	{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right	{
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

footer	{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	
}




