@import url('https://fonts.googleapis.com/css?family=Jockey+One');
@import url('https://fonts.googleapis.com/css?family=Dosis|Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Kreon:300');


body	{
	font-family: 'Kreon', serif;
	font-size: 20px;
	font-weight: normal;
	color: #021329;
	line-height: 1.2;
}
head {
	background-color: #FFED74;
	font-family: 'Kreon', serif;
	font-size: 30px;
	font-weight: bold;
}

nav	{ background-color: #E8C66A;
}

article	{
	background-color: #E89C6C;
}
aside	{
	background-color: #FFC675;
}
footer	{
	color: #1F3E53;
	background-color: #FF957E;
	padding: 20px;
}




